# Export all names
exportPattern(".")
S3method("print","grandR",print.grandR)
S3method("dim","grandR",dim.grandR)
S3method("is","grandR",is.grandR)
S3method("reorder","grandR",reorder.grandR)
S3method("subset","grandR",subset.grandR)
S3method("split","grandR",split.grandR)
S3method("merge","grandR",merge.grandR)
S3method("dimnames","grandR",dimnames.grandR)
S3method("PlotScatter","grandR",PlotScatter.grandR)
S3method("PlotScatter","data.frame",PlotScatter.data.frame)
S3method("GetSummarizeMatrix","grandR",GetSummarizeMatrix.grandR)
S3method("GetContrasts","grandR",GetContrasts.grandR)

